    <form id="login" method="post">
        <input id="email" type="email" name="email" value="" placeholder="Tu Email">
        <br><br>
        <input id="password" type="password" name="password" value="" placeholder="Tu Contraseña">
        <br><br>
        <input type="submit" value="Login">
    </form>

    <script type="text/javascript">
        const formLogin = document.querySelector('#login')
        const formData = new FormData(formLogin)

        formLogin.addEventListener('submit', event => {
            event.preventDefault()
            fetch('/api/signin', {
                method: 'post',
                body: formData
            })
            .then(res => res.json())
            .then(data => {
                    localStorage.setItem('token', data.token)
                })
        })
    </script>